@import "tailwindcss";

@layer base {
    :root {
        --font-default: 'Plus Jakarta Sans', 'sans-serif';
        background-color: var(--color-base);
        /* @apply bg-blue-400; */
    }
}
@theme {
  --primary-color: #542915; /* brown*/
  --secondary-color: #ff8906; /*orange*/
}
