@import "tailwindcss";

@layer base {
  :root {
    --font-default: "Plus Jakarta Sans", "sans-serif";
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .loader {
    width: 35px;
    aspect-ratio: 1;
    --_g: no-repeat radial-gradient(farthest-side,#542915 94%,#0000);
    background:
      var(--_g) 0    0,
      var(--_g) 100% 0,
      var(--_g) 100% 100%,
      var(--_g) 0    100%;
    background-size: 40% 40%;
    animation: l38 .5s infinite; 
  }
  @keyframes l38 {
    100% {background-position: 100% 0,100% 100%,0 100%,0 0}
  }
}

@theme {
  --primary-color: #542915; /* brown*/
  --secondary-color: #ff8906; /*orange*/
  --color-black: #0b0909;
  --color-white: #e8e8e8;
  --color-grey: #c3beb7;
  --color-slategrey: #777c82;
  --color-darkbrown: #542915;
  --color-brown: #8e6447;
  --color-orange: #ff8906;
  --color-text-gray: #4f5665;
  --color-text-black: #0b132a;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}