@import "tailwindcss";

@theme {
  --color-black: #0b0909;
  --color-white: #e8e8e8;
  --color-grey: #c3beb7;
  --color-slategrey: #777c82;
  --color-darkbrown: #542915;
  --color-brown: #8e6447;
  --color-orange: #ff8906;
}
